@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
.no-scrollbar {
  overflow-y: scroll; /* Enables vertical scrolling */
  scrollbar-width: none; /* Firefox */
}

.no-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Edge */
}

/* Add this to your global CSS */
.group {
  position: relative;
}

.group:hover {
  box-shadow: inset 0px 4px 6px rgba(0, 0, 0, 0.3); /* Top padding shadow */
}

  